*
!*/

!c/*/*.c
!c/*/*.h

!clojure/*/src/*
!clojure/*/test/*

!elisp/*/*.el

!elixir/*/lib/*
!elixir/*/test/*

!elm/*/*.elm
!elm/*/tests/*

!haskell/*/src/*
!haskell/*/test/*

!prolog/*/*.pl
!prolog/*/*.plt

!rust/**/*
rust/**/*.md
rust/**/.exercism

!scala/*/src/**

!/.gitignore
